.articles{
    margin: 3rem 0;
    .search_bar{
        padding:.5rem 0;
        border-bottom: 2px dashed #161616;
        span{
            font-size: 30px;
            margin-right: 1rem;
        }
        input{
            font-size: 25px;
            background: none;
            border: none;
            outline: none;
            width: 400px;
        }
    }

    .link{
        margin-left: 1rem;
        color: #4e4e4e;
        font-size: 20px;
    }
    .active{
        color: #161616;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin: 3rem 0;
    }
}